apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommender-app
  namespace: web
  labels:
    app: recommender-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommender-app
  template:
    metadata:
      labels:
        app: recommender-app
    spec:
      containers:
        - name: recommender-app
          image: recommender-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          env:
            - name: NODE_ENV
              value: 'production'
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5